@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: #ede9e9;
  color: #1216038b;
}
a {
  text-decoration: none;
  color: #020d19a7;
}
.app {
  width: 90%;
  margin: auto;
}
